@import '../functions/fetoolkit-get-icon-path';

/**
 * For documentation, see `docs/scss/mixins/BackgroundSVG.md`
 */
@mixin background-svg($icon) {
  background-image: url('#{fetoolkit-get-icon-path($icon)}');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
