/**
 * For documentation, see `docs/scss/mixins/Clear.md`
 */
@mixin clear($element) {
  @if ($element == 'element') {
    clear: both;
  }

  @if ($element == 'pseudo') {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
