// CSS Arrow
//
// Create an arrow using CSS border and transform rotation
//
// This mixin doesn't set *colour* of the arrow
//
// * **$direction** up/right/down/left
// * **$size** The size of the arrow. Arrow will be displayed as a square
// * **$thickness** Thickness of the line
//
// @include cssArrow($direction, $size, $thickness) - `cssArrow()`
//
// Styleguide Tools.Mixins.CSSArrow
@mixin css-arrow($direction, $size, $thickness) {
  border: $thickness solid;
  border-bottom-width: 0;
  border-left-width: 0;
  width: $size;
  height: $size;

  // "7.6" seems to be a bit of a magic number that will align the arrow correctly so it isn't cut off by element
  // boundaries when rotated
  @if ($direction == 'up') {
    transform: translate($size/7.6, $size/7.6) rotate(-45deg);
  } @else if ($direction == 'right') {
    transform: translate($size/7.6, $size/7.6) rotate(45deg);
  } @else if ($direction == 'bottom') {
    transform: translate($size/7.6, $size/7.6) rotate(135deg);
  } @else if ($direction == 'left') {
    transform: translate($size/7.6, $size/7.6) rotate(-135deg);
  }
}
