/**
 * For documentation, see `docs/scss/mixins/FlexColumn.md`
 */
@mixin flex-column($width, $mobile-breakpoint) {
  flex: 1 1 100%;

  @media (min-width: $mobile-breakpoint) {
    @if (unitless($width)) {
      flex: 1 1 percentage($width);
    } @else {
      flex: 1 1 $width;
    }
  }
}
