/**
 * Specify the font-size for an element using `px`, however put it into the stylesheet with `rem`, and `px` as a fallback
 *
 * @param $size Desired size, in px, of the font. Must include unit. E.g. `14px`
 *
 * N.B. For this mixin to work correctly, there must be a global variable set up in the project, `$base-font-size`
 */
@function rems($size) {
  $rem-size: $size / $base-font-size;
  @return $rem-size * 1rem;
}

@mixin font-size-rem($size) {
  font-size: $size;
  font-size: rems($size);
}
