/**
 * For documentation, see `docs/scss/mixins/ResetAnchor.md`
 */
@mixin reset-anchor {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
