/**
 * General styling applied to all example files
 */
:root {
  --toggle-colour-one: #9ACD32;
  --toggle-colour-two: #663399;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.example-container {
  padding: 20px;
  border: 1px solid #000000;
  flex: 1 1 25%;
  margin: 20px;
}

.toggle-target {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.arrow {
  cursor: pointer;
}

.arrow::before {
  border: solid #000000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  content: '';
}

.prev::before {
  transform: rotate(135deg);
}

.next::before {
  transform: rotate(-45deg);
}
